.container{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin: 40px;
  align-items: end;
}

.top_btn{
  display: flex;
  gap: 32px;
}

.contact_form{
  display: flex;
  flex-direction: column;
  gap: 24px;

}
.contact_form form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 20px;

}



.form_cntrl{
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.form_cntrl input{
  height: 40px;
  padding: 0 8px;
}


.form_cntrl label{
  position: absolute;
  top: -12px;
  left: 10px;
  background: white;
  padding: 0 10px;
  font-size: 14px;
}